stages:
  - validate
  - plan
  - apply

variables:
  TF_ROOT: ${CI_PROJECT_DIR}/landing-zones/aws/environments
  AWS_DEFAULT_REGION: us-east-1
  TF_IN_AUTOMATION: "true"
  # AWS_ROLE_ARN must be set in CI/CD Variables

.terraform:
  image:
    name: hashicorp/terraform:latest
    entrypoint: [""]
  id_tokens:
    GITLAB_OIDC_TOKEN:
      aud: https://gitlab.com
  before_script:
    - apk add --no-cache aws-cli jq
    - >
      aws_sts_output=$(aws sts assume-role-with-web-identity
      --role-arn ${AWS_ROLE_ARN}
      --role-session-name "GitLabRunner-${CI_PROJECT_ID}-${CI_PIPELINE_ID}"
      --web-identity-token ${GITLAB_OIDC_TOKEN}
      --duration-seconds 3600
      --query 'Credentials.[AccessKeyId,SecretAccessKey,SessionToken]'
      --output text)
    - export $(printf "AWS_ACCESS_KEY_ID=%s AWS_SECRET_ACCESS_KEY=%s AWS_SESSION_TOKEN=%s" $aws_sts_output)
    - cd $TF_ROOT/$ENV_DIR
    - terraform init

validate:
  extends: .terraform
  stage: validate
  script:
    - terraform validate
  parallel:
    matrix:
      - ENV_DIR: [shared-account, dev-app-account, prod-app-account]

.plan:
  extends: .terraform
  stage: plan
  script:
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - $TF_ROOT/$ENV_DIR/tfplan
    expire_in: 1 week

.apply:
  extends: .terraform
  stage: apply
  script:
    - terraform apply -auto-approve tfplan
  when: manual

# Shared Account
shared-plan:
  extends: .plan
  variables:
    ENV_DIR: shared-account

shared-apply:
  extends: .apply
  variables:
    ENV_DIR: shared-account
  needs: ["shared-plan"]

# Dev Account
dev-plan:
  extends: .plan
  variables:
    ENV_DIR: dev-app-account

dev-apply:
  extends: .apply
  variables:
    ENV_DIR: dev-app-account
  needs: ["dev-plan"]

# Prod Account
prod-plan:
  extends: .plan
  variables:
    ENV_DIR: prod-app-account

prod-apply:
  extends: .apply
  variables:
    ENV_DIR: prod-app-account
  needs: ["prod-plan"]
